<!--
  Generated template for the AddNewUser page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add New User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>

  <ion-list>
    <form [formGroup]="AddUserForm">
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.first_name.valid && (AddUserForm.controls.first_name.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid FirstName.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.last_name.valid && (AddUserForm.controls.last_name.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid LastName.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
        <span>It should be unique to every user.</span>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.username.valid && (AddUserForm.controls.username.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid UserName.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <span>It should be unique to every user.</span>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.email.valid && (AddUserForm.controls.email.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid Email.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Assign Role</ion-label>
        <ion-select formControlName="user_type">
          <ion-option *ngFor="let rol of role" value="{{rol.id}}">{{rol.display_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.user_type.valid && (AddUserForm.controls.user_type.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid Type.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password_text"></ion-input>
       
      </ion-item>
       <span>Minimum 4 characters.</span>
      <ion-item *ngIf="!AddUserForm.controls.password_text.valid && (AddUserForm.controls.password_text.dirty || submitAttempt)">
        <p class="invalid">Please enter a valid Password.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="pass_confirm"></ion-input>
      </ion-item>
      <ion-item *ngIf="!AddUserForm.controls.pass_confirm.valid && (AddUserForm.controls.pass_confirm.dirty || submitAttempt)">
        <p class="invalid">Please enter a same Password Again</p>
      </ion-item>
    </form>
  </ion-list>

  <div padding="">
    <button block="" color="primary" ion-button="" class="disable-hover button button-md button-default button-default-md button-block button-block-md button-md-primary" ng-reflect-color="primary" ng-reflect-block="" (click)="staffaction()"><span class="button-inner">Create Staff</span>
  </button>
  </div>

</ion-content>
