page-popover-project-list-filter {


ion-content { padding: 0 !important;}
.scroll-content { padding: 0 !important;
    ion-list { margin-bottom: 0 !important;
        button {
            .item-inner {
                .input-wrapper {
                    ion-label {                        
                        vertical-align: top;
                    }
                }
            }
        }
    }
}


}
